@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    color: whitesmoke;
    font-family: 'PT Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 170px auto;
}

.sidebar {
    background-color: rgb(60, 60, 60);
    height: 100vh;
    padding: 0 15px;
}

main {
    background-color: rgb(40, 40, 40);
    display: grid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-title {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1.1em;
    font-weight: 700;
}

.list-name {
    margin-left: 5px;
    cursor: pointer;
    margin-bottom: 7px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    border: solid 0px;
    border-radius: 5px;
}

.i-s {
    margin: 0px 1px;
}

#add-project {
    border: solid 0px;
    border-radius: 5px;
}

#add-project:hover {
    background-color: rgb(100, 100, 100);
    transition: 0.3s;
}

#add-task {
    position: sticky;
    bottom: 10px;
    right: 10px;
    background-color: rgb(252, 39, 18)	;
    width: 40px;
    height: 40px;
    justify-self: end;
    align-self: end;
}

.task-list {
    margin: 20px 20px;
}
