@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    color: whitesmoke;
    font-family: 'PT Sans', sans-serif;

    --higlighted-color: rgb(100, 100, 100);
    --background-color-dark: rgb(40, 40, 40);
    --background-color-light: rgb(60, 60, 60);
    --border-radius: 5px;
    --red: #ff4013;
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 200px auto;
}

.sidebar {
    background-color: var(--background-color-light);
    height: 100vh;
    padding: 0 15px;
}

main {
    background-color: var(--background-color-dark);
    display: grid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-title {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1.1em;
    font-weight: 700;
}

.list-name {
    margin-left: 5px;
    cursor: pointer;
    margin-bottom: 7px;
    padding: 3px;
    border: 0px solid;
    border-radius: var(--border-radius);
}

button, .checkbox {
    background: none;
    border: none;
    cursor: pointer;
    border: solid 0px;
    border-radius: 5px;
    transition: 0.3s;
}

i {
    margin-right: 5px;
}

.i-s {
    margin: 0px 6px 0px 1px;
}

.i-button{
    margin: 0;
}

.btn-add-list {
    border: solid 0px;
    border-radius: 5px;
    height: 23px;
    width: 23px;
}

.btn-add-list:hover, .btn-add-task:hover {
    background-color: var(--higlighted-color);
}

.list-name:hover {
    background-color: var(--higlighted-color);
}

.btn-rotated {
    transform: rotate(45deg);
}

.task:hover {
    background-color: var(--higlighted-color);
    transition: 0.3s;
}

.btn-arr {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

#btn-add-task-disp, #clr-done {
    background-color: var(--red)	;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.task-list {
    padding: 5px;
}

#task-list-field {
    margin: 0px 20px;
    padding: 30px 0px; 
    width: 80%;
}

.task, #form-add-task {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--higlighted-color);
    padding: 5px;
    border-radius: var(--border-radius);
}

.selected {
    background-color: var(--higlighted-color);
}

.red {
    color: var(--red);
}

#form-add-list {
    display: none;
    grid-auto-flow: column;
    align-items: baseline;
}

#form-add-task {
    display: none;
}

#tsk-title {
    width: 100%;
}

input {
    background-color: var(--higlighted-color);
    margin-left: 5px;
    padding: 3px;
    border: 0px solid;
    border-radius: var(--border-radius);
    color: whitesmoke;
    height: 17px;

}

#new-list-title {
    max-width: 80%;
}

.tsk-done {
    text-decoration: line-through;
}