@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    color: whitesmoke;
    font-family: 'PT Sans', sans-serif;

    --higlighted-color: rgb(100, 100, 100);
    --background-color-dark: rgb(40, 40, 40);
    --background-color-light: #3c3c3c;
    --border-radius: 5px;
    --red: #ff4013;
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 200px auto;
    height: 100vh;
}

.sidebar {
    background-color: var(--background-color-light);
    padding: 0 15px;
}

main {
    background-color: var(--background-color-dark);
    display: grid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-title {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1.1em;
    font-weight: 700;
}

.list-name {
    margin-left: 5px;
    cursor: pointer;
    margin-bottom: 7px;
    padding: 3px;
    border: 0px solid;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
}

button, .checkbox {
    background: none;
    border: none;
    cursor: pointer;
    border: solid 0px;
    border-radius: 5px;
    transition: 0.3s;
}

i {
    margin-right: 5px;
}

.i-s {
    margin: 0px 6px 0px 1px;
}

.i-button{
    margin: 0;
}

.btn-add-list {
    border: solid 0px;
    border-radius: 5px;
    height: 23px;
    width: 23px;
}

.btn-add-list:hover, .btn-add-task:hover {
    background-color: var(--higlighted-color);
}

.list-name:hover {
    background-color: var(--higlighted-color);
}

.btn-rotated {
    transform: rotate(45deg);
}

.task:hover {
    background-color: var(--higlighted-color);
    transition: 0.3s;
}

.btn-arr {
    position: fixed;
    bottom: 10px;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    align-self: end;
}

#btn-add-task-disp, #clr-done {
    background-color: var(--red)	;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.task-list {
    padding: 5px;
}

#task-list-field {
    margin: 0px 20px;
    padding: 30px 0px; 
    width: 80%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
}

.task, #form-add-task {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--higlighted-color);
    padding: 5px;
    border-radius: var(--border-radius);
}

p {
    font-size: 0.9em;
    /* color: var(--higlighted-color); */
    margin: 0;
    margin-left: 5px;
    color: rgba(245, 245, 245, 0.5);
}

span {
    color: whitesmoke;
}

.selected {
    background-color: var(--higlighted-color);
}

.red {
    color: var(--red);
}

#form-add-list {
    display: none;
    grid-auto-flow: column;
    align-items: baseline;
}

#form-add-task {
    display: none;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--higlighted-color);

}

label {
    position: relative;
    cursor: pointer;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

input[class="normal"]:hover + i,
input[class="normal"]:checked + i,
input[class="normal"]:focus + i {
  color: whitesmoke;
}

input[class="high"]:hover + i,
input[class="high"]:checked + i,
input[class="high"]:focus + i {
  color: var(--red);
}

#addTaskFrmLine1, #addTaskFrmLine2 {
    display: flex;
}

fieldset {
    color: var(--higlighted-color);
    border: 1px solid var(--higlighted-color);
    border-radius: var(--border-radius);
}

#tsk-title {
    width: 100%;
}

textarea:focus, input:focus{
    outline: none;
}

input {
    background-color: var(--higlighted-color);
    margin-left: 5px;
    padding: 5px;
    border: 0px solid;
    border-radius: var(--border-radius);
    color: whitesmoke;
    height: 17px;
    font-family: inherit;
    font-size: inherit;

}

input[name="description"],  input[name="dueDate"]{
    background-color: var(--background-color-dark);
    border: 0 solid var(--background-color-dark);
}

input[name="dueDate"] {
    padding: 0;
}

#new-list-title {
    max-width: 80%;
}

.tsk-done {
    text-decoration: line-through;
}

.remove {
position: absolute;
left: 165px;
}

.yellow {
    color: #fecb3e;
}

.green {
    color: #00f900;
}